<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Services</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico" type="image/x-icon">
     <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.2.1.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
	 <script src="js/script.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/superfish.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <!--[if (gt IE 9)|!(IE)]><!-->
     <script src="js/jquery.mobile.customized.min.js"></script>
     <!--<![endif]-->
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5shiv.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
            <script>
            $(document).ready(function(){
                /*Back to Top*/
                $().UItoTop({ easingType: 'easeOutQuart' });
             });
        </script>
     </head>

<body id="top">

<!--========================header=============================-->
<div class="box">
    <header id="header">
    <div class="container">
    <div class="row">
        <div class="grid_4">
            <h1><a href="index.html"><img src="images/logo.png" alt=""></a></h1>
        </div>
        <div class="grid_8">
            <nav>
                <ul class="sf-menu">
                    <li><a href="/">Home</a>
                        <ul>
                            <li><a href="#">Events Schedule</a></li>
                            <li><a href="#">Hunting</a></li>
                            <li><a href="#">Firearms</a>
                                <ul>
                                    <li><a href="#">Latest</a></li>
                                    <li><a href="#">Archive</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Contacts</a></li>
                       </ul>
                    </li>
                    <li><a href="/about">O nas</a></li>
                    <li class="current"><a href="/services">Usługi</a></li>
                    <li><a href="/piro">PiRO</a></li>
                    <li><a href="/competitions">Zawody</a></li>
                    <li><a href="/ma">Martial Arts</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
    </header>
    <div class="clear"></div>

<!--===================content===========================-->

    <div class="container">
            <div class="divider1"></div>
        <div class="row">
            <div class="grid_8">
                <h3>Services Overview</h3>
            <div class="wrap1">
                <a href="#" class="link2">Nam suscipit magna ante, rhoncus porta dui ferment.</a>
                <p>Proin quis euismod ipsum. Nunc placerat mauris quis mattis luctus. Vivamus non quam ante. Praesent pretium dolor gravida porttitor rutrum! In massa odio, blandit id condimentum non, dignissim ac urna? In sed magna at magna iaculis fringilla. Phasellus vitae eros vel ligula pretium tristique. Mauris ut feugiat tortor.</p>
                <div class="grid_4 alpha">
                    <ul class="list3">
                         <li><a href="#">Nullam interdum cursus sem id tincidunt justo </a></li>
                         <li><a href="#">Vestibulum nec tellus in euismod tincid</a></li>
                         <li><a href="#">Praesent varius justo elit eu lobortis felis </a></li>
                         <li><a href="#">Quisque vitae erat ultricies, vulputate ipsum </a></li>
                         <li><a href="#">Nunc fermentum eros ac erat lacinia </a></li>
                    </ul>
                </div>
                <div class="grid_4 omega">
                    <ul class="list3">
                         <li><a href="#">Pellentesque nisi nulla pretium a tortor sed</a></li>
                         <li><a href="#">Pulvinar egestas neque aenean eu urna</a></li>
                         <li><a href="#">Faucibus lectus lacinia rutrum</a></li>
                         <li><a href="#">Etiam eget iaculis neque quis laoreet felis</a></li>
                         <li><a href="#">Class aptent taciti sociosqu ad litora torquent</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="divider"></div>
                <h3>Available Services</h3>
                <div class="section1">
                    <div class="grid_3 alpha">
                        <div class="image"><img src="images/page3_img4.jpg" alt=""></div>
                    </div>
                    <div class="grid_5 omega">
                        <a href="#" class="link2">Nunc pulvinar quis tellus eu aliquam. Integer diam enim, amet massa at, blandit vehicula mi. </a>
                        <p>Phasellus tellus dui, condimentum at mattis non, iaculis nec purus. Fusce et placerat cursus ante. Sed ornare lacinia lectus, ac vestibulum augue elementum eget. Fusce vitae sapien sit amet metus viverra molestie. Ut placerat purus neque, id malesuada augue varius vitae? Mauris tincidunt tincidunt vitae velit ac fringilla. Integer adipiscing quam odio, id eleifend aenean eleifend bibendum ante.</p>
                    </div>
                </div>
                <div class="section1">
                    <div class="grid_3 alpha">
                        <div class="image"><img src="images/page3_img5.jpg" alt=""></div>
                    </div>
                    <div class="grid_5 omega">
                        <a href="#" class="link2">Eu aliquam. Integer diam enim, amet massa at.</a>
                        <p>Fusce et placerat cursus ante. Sed ornare lacinia lectus, ac vestibulum augue elementum eget. Fusce vitae sapien sit amet metus viverra molestie. Mauris porttitor convallis quam eu sollicitudin. Aenean auctor, ante eget rutrum condimentum, velit sem lobortis mauris, quis porttitor odio urna a tortor. Nulla vestibulum nisi nec ligula pretium adipiscing! Etiam sagittis quam tortor, vel mollis lacus gravida quis! Nunc vitae sollicitudin urna. Cras dolor leo, feugiat. ut justo vel, tempor mattis est? Phasellus ac faucibus sem. Maecenas quis </p>
                    </div>
                </div>
            </div>
                        </div>
            <div class="grid_4">
                <h3>Featured Services</h3>
                <ul class="list2">
                    <li><img src="images/page3_img1.jpg" alt="">
                        <div>
                            <a href="#" class="link2">Nam suscipit magna ante.</a>
                            <p>Phasellus tellus dui, condimentum at mattis non, iaculis nec purus. Fusce et porta ante, quis lacinia.</p>
                        </div>    
                    </li>
                    <li><img src="images/page3_img2.jpg" alt="">
                        <div>
                            <a href="#" class="link2">Sed commodo nisi elit.</a>
                            <p>Phasellus tellus dui, condimentum at mattis non, iaculis nec purus. Fusce et porta ante, quis lacinia.</p>
                        </div>    
                    </li>
                    <li><img src="images/page3_img3.jpg" alt="">
                        <div>
                            <a href="#" class="link2">Nisi elit, elementum.</a>
                            <p>Phasellus tellus dui, condimentum at mattis non, iaculis nec purus. Fusce et porta ante, quis lacinia.</p>
                        </div>    
                    </li>
                </ul>
                <div class="clear"></div>
                <div class="divider"></div>
                <h3>Services List</h3>
                <ul class="list">
                    <li><a href="#">Pellentesque nisi nulla pretium a tortor sed</a></li>
                    <li><a href="#">Pulvinar egestas neque aenean eu urna</a></li>
                    <li><a href="#">Faucibus lectus lacinia rutrum</a></li>
                    <li><a href="#">Etiam eget iaculis neque quis laoreet felis</a></li>
                    <li><a href="#">Class aptent taciti sociosqu ad litora torquent per </a></li>
                    <li><a href="#">Per conubia nostra per inceptos himenaeos</a></li>
                    <li><a href="#">Pellentesque volutpat lacus sit amet erat </a></li>
                    <li><a href="#">Nulla aliquam ac felis vitae convallis</a></li>
                </ul>                
            </div>
        </div>     
        <div class="divider2"></div>
    </div>

<!--=====================footer=========================-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="grid_3 fright">
                    <ul class="list1">
                        <li><a href="#">Events Schedule</a></li>
                        <li><a href="#">Hunting</a></li>
                        <li><a href="#">Firearms</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Contacts </a></li>
                    </ul>
                </div>
                <div class="grid_3 fright">
                    <ul class="list1">
                        <li><a href="#">google plus</a></li>
                        <li><a href="#">flickr</a></li>
                        <li><a href="#">Dribble</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Skype</a></li>
                    </ul>
                </div> 
                 <div class="grid_6 fleft">
                    <h1><a href="index.html"><img class="logo2" src="images/logo2.png" alt="" width="10%" height="10%"></a></h1>
                    <div class="copy"><span>Tactical Bushido&nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;</span>&nbsp;&nbsp;<span id="copyright-year"></span>&nbsp;&nbsp;&bull;
                    <a href="index-6.html">Privacy Policy</a> </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>