<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Privacy Policy</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="images/favicon.ico" type="image/x-icon">
     <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.2.1.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
	 <script src="js/script.js"></script>   
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/superfish.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <!--[if (gt IE 9)|!(IE)]><!-->
     <script src="js/jquery.mobile.customized.min.js"></script>
     <!--<![endif]-->
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5shiv.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
        <script>
            $(document).ready(function(){
                /*Back to Top*/
                $().UItoTop({ easingType: 'easeOutQuart' });
             });
        </script>
     </head>

<body id="top">

<!--========================header=============================-->
<div class="box">
    <header id="header">
    <div class="container">
    <div class="row">
        <div class="grid_4">
            <h1><a href="index.html"><img src="images/logo.png" alt="" width="30%" height="30%"></a></h1>
        </div>
        <div class="grid_8">
            <nav>
                <ul class="sf-menu">
                    <li><a href="/">Home</a>
                        <ul>
                            <li><a href="#">Events Schedule</a></li>
                            <li><a href="#">Hunting</a></li>
                            <li><a href="#">Firearms</a>
                                <ul>
                                    <li><a href="#">Latest</a></li>
                                    <li><a href="#">Archive</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Contacts</a></li>
                       </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="index-3.html">News</a></li>
                    <li><a href="index-4.html">Blog</a></li>
                    <li><a href="index-5.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
    </header>
    <div class="clear"></div>

<!--===================content===========================-->

    <div class="container">
        <div class="divider1"></div>
        <div class="row">
            <div class="grid_12">
            <h3>Privacy Policy</h3>
            <br>
                <div class="text3">
                <h4>Suscipit varius m sociis naque patibus et magnis dis parient tes nascetur ridicu mus. Nulla dui. Fusce feugiat malesuada odio. </h4>
                <p>Integer euismod tristique bibendum? Quisque laoreet suscipit risus a bibendum. Maecenas hendrerit tellus a mauris adipiscing, eu pretium nibh posuere. Curabitur facilisis augue in velit ultricies sollicitudin! Aliquam eu orci convallis, mollis erat et, viverra orci. Duis a mauris augue. Etiam quis velit tellus. Ut scelerisque tortor vel neque adipiscing, eget luctus felis malesuada. Vestibulum elementum id justo ac dapibus! Sed fermentum porttitor mauris condimentum tristique. Donec hendrerit euismod ligula, sit amet placerat elit laoreet vitae. Praesent imperdiet sit amet arcu ac bibendum? Praesent hendrerit urna at sapien luctus pretium. Cras eu vestibulum magna. Maecenas vestibulum justo felis, ut facilisis mi fermentum ac. Phasellus quis mi nec lorem adipiscing egestas.Suspendisse imperdiet, enim vel porttitor eleifend, felis magna sagittis nisi, a malesuada mauris orci nec mi. Vestibulum id ornare lacus. Sed iaculis nibh quis neque tempus, vel euismod sapien facilisis. Nulla facilisi. Nunc pulvinar nunc vel ligula semper, ut tempus augue condimentum? Suspendisse sed ullamcorper arcu. Quisque sodales id neque non commodo. Donec vehicula luctus nibh, porta consectetur dolor fringilla vel. Integer vel nibh auctor, feugiat turpis et, faucibus ipsum. Cras dictum lorem at orci facilisis, quis hendrerit velit egestas. Cras ac lectus risus. Vestibulum porttitor accumsan tellus eget dictum. Donec convallis, lacus in tempus pulvinar, nibh elit vestibulum dui, eget facilisis velit mi sit amet lorem. Aenean in urna sem!Donec sollicitudin posuere venenatis. Praesent congue libero nisi, ac lobortis augue lobortis at? Morbi ac enim consectetur, congue dui non, gravida nulla. Vivamus pretium nibh quis nisi facilisis, nec imperdiet diam rhoncus! Sed sed sapien justo. Nunc dictum sem ac aliquet hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Morbi condimentum viverra massa at pulvinar. Vivamus elementum et magna ut posuere. Sed lacus justo; vulputate sit amet sem eget; bibendum eleifend felis. Aenean justo nulla, bibendum in consequat eu, aliquet tincidunt purus. Nullam ut volutpat sapien, ut consequat mauris! Integer euismod tristique bibendum? Quisque laoreet suscipit risus a bibendum. Maecenas hendrerit tellus a mauris adipiscing, eu pretium nibh posuere. Curabitur facilisis augue in velit ultricies sollicitudin.</p>
                </div>
                <div class="text3">
                <h4>Varius m sociis naque patibus et magnis dis parient tes nascetur ridicu mus. Nulla dui. Fusce feugiat malesuada odio.</h4>
                <p>Aliquam eu orci convallis, mollis erat et, viverra orci. Duis a mauris augue. Etiam quis velit tellus. Ut scelerisque tortor vel neque adipiscing, eget luctus felis malesuada. Vestibulum element um id justo ac dapibus! Sed fermentum porttitor mauris condimentum tristique. Donec hendrerit euismod ligula, sit amet placerat elit laoreet vitae. Praesent imperdiet sit amet arcu ac bibendum? Praesent hendrerit urna at sapien luctus pretium. Cras eu vestibulum magna. Maecenas vestibulum justo felis, ut facilisis mi fermentum ac. Phasellus quis mi nec lorem adipiscing egestas.Suspendisse imperdiet, enim vel porttitor eleifend, felis magna sagittis nisi, a malesuada mauris orci nec mi. Vestibulum id ornare lacus. Sed iaculis nibh quis neque tempus, vel euismod sapien facilisis. Nulla facilisi. Nunc pulvinar nunc vel ligula semper, ut tempus augue condimentum? Suspendisse sed ullamcorper arcu. Quisque sodales id neque non commodo. Donec vehicula luctus nibh, porta consectetur dolor fringilla vel. Integer vel nibh auctor, feugiat turpis et, faucibus ipsum. Cras dictum lorem at orci facilisis, quis hendrerit velit egestas. Cras ac lectus risus. Vestibulum porttitor accumsan tellus eget dictum. Donec convallis, lacus in tempus pulvinar, nibh elit vestibulum dui, eget facilisis velit mi sit amet lorem. Aenean in urna sem!Donec sollicitudin posuere venenatis. Praesent congue libero nisi, ac lobortis augue lobortis at? Morbi ac enim consectetur, congue dui non, gravida nulla. Vivamus pretium nibh quis nisi facilisis, nec imperdiet diam rhoncus! Sed sed sapien justo. Nunc dictum sem ac aliquet hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Morbi condimentum viverra massa at pulvinar. Vivamus elementum et magna ut posuere. Sed lacus justo; vulputate sit amet sem eget; bibendum eleifend felis. Aenean justo nulla, bibendum in consequat eu, aliquet tincidunt purus. Nullam ut volutpat sapien, ut consequat mauris!  Integer euismod tristique bibendum.</p>
                </div>
                <div class="text3">
                <h4>Fusce ut vulputate arcu. In hac habitasse platea dictumst. Integer imperdiet ligula lacus, sed fermentum ante viverra eget.</h4>
                <p>Quisque laoreet suscipit risus a bibendum. Maecenas hendrerit tellus a mauris adipiscing, eu pretium nibh posuere. Curabitur facilisis augue in velit ultricies sollicitudin! Aliquam eu orci convallis, mollis erat et, viverra orci. Duis a mauris augue. Etiam quis velit tellus. Ut scelerisque tortor vel neque adipiscing, eget luctus felis malesuada. Vestibulum elementum id justo ac dapibus! Sed fermentum porttitor mauris condimentum tristique. Donec hendrerit euismod ligula, sit amet placerat elit laoreet vitae. Praesent imperdiet sit amet arcu ac bibendum? Praesent henimperdiet, enim vel porttitor eleifend, felis magna sagittis nisi, a malesuada mauris orci nec mi. Vestibulum id ornare lacus. Sed iaculis nibh quis neque tempus, vel euismod sapien facilisis. Nulla facilisi. Nunc pulvinar nunc vel ligula semper, ut tempus augue condimentum? Vivamus sed faucibus turpis, sed malesuada enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer eu tortor eget risus ultrices mollis. Nunc pulvinar consectetur odio, et tincidunt quam egestas vel. Integer tristique pharetra justo nec iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis mauris at ligula dapibus fermentum. Suspendisse in ligula egestas, dapibus libero in, mollis libero. Donec condimentum commodo dolor ut tincidunt? Donec non nunc a nisi tristique adipiscing! Curabitur in laoreet nisi. Pellentesque in erat odio. Ut mollis ultricies dolor, ac placerat nibh imperdiet nec. Duis ultricies euismod mi id aliquam! Vestibulum porttitor felis quis ligula elementum iaculis!Duis ultrices pulvinar justo, nec bibendum ipsum blandit sit amet. Etiam quis lectus ipsum. Vivamus tincidunt dolor arcu, nec porta diam semper quis. In lobortis condimentum pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla sagittis mauris nunc, a faucibus tortor venenatis at. Fusce ut vulputate arcu. In hac habitasse platea dictumst. Integer imperdiet ligula lacus, sed fermentum ante viverra eget?Vestibulum sem quam, luctus a sollicitudin quis, semper ac quam. Mauris rutrum mi id sapien ultricies ultrices. Integer vehicula, erat in mattis consequat, orci nunc elementum turpis, sit amet imperdiet ligula purus in lorem. Vivamus molestie varius dolor ac venenatis. Morbi sed viverra nunc. Donec eu imperdiet nunc, ac imperdiet dui. Sed facilisis est nec tellus lobortis, a egestas ante condimentum. </p>
                </div>
                <div class="text3">
                <h4>Nulla sagittis mauris nunc, a faucibus tortor venenatis at. Fusce ut vulputate arcu. In hac habitasse platea dictumst. </h4>
                <p>Maecenas accumsan lorem nec malesuada fermentum. Pellentesque eu nibh nec libero auctor posuere vitae vel metus. Morbi non ante a lectus interdum condimentum. Cras ultricies congue lacinia? Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam adipiscing elit in quam pulvinar posuere! Vivamus sed faucibus turpis, sed malesuada enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer eu tortor eget risus ultrices mollis. Nunc pulvinar consectetur odio, et tincidunt quam egestas vel. Integer tristique pharetra justo nec iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis mauris at ligula dapibus fermentum. Suspendisse in ligula egestas, dapibus libero in, mollis libero. Donec condimentum commodo dolor ut tincidunt? Donec non nunc a nisi tristique adipiscing! Curabitur in laoreet nisi. Pellentesque in erat odio. Ut mollis ultricies dolor, ac placerat nibh imperdiet nec. Duis ultricies euismod mi id aliquam! Vestibulum porttitor felis quis ligula elementum iaculis!Duis ultrices pulvinar justo, nec bibendum torquent per conubia nostra, per inceptos himenaeos. Nulla sagittis mauris nunc, a faucibus tortor venenatis at. Fusce ut vulputate arcu. In hac habitasse platea dictumst. Integer imperdiet ligula lacus, sed fermentum ante viverra eget?Vestibulum sem quam, luctus a sollicitudin quis, semper ac quam. Mauris rutrum mi id sapien ultricies ultrices. Integer vehicula, erat in mattis consequat, orci nunc elementum turpis, sit amet imperdiet ligula purus in lorem. Vivamus molestie varius dolor ac venenatis. Morbi sed viverra nunc. Donec eu imperdiet nunc, ac imperdiet dui. Sed facilisis est nec tellus lobortis, a egestas ante condimentum. Maecenas accumsan lorem nec malesuada fermentum. Pellentesque eu nibh nec libero auctor posuere vitae vel metus. Morbi non ante a lectus interdum condimentum. Cras ultricies congue lacinia? Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
                <a class="priv" href="#">privacy@demolink.org</a>
                <br><br><br>
            </div>
        </div>
        <div class="divider2"></div>
    </div>

<!--=====================footer=========================-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="grid_3 fright">
                    <ul class="list1">
                        <li><a href="#">Events Schedule</a></li>
                        <li><a href="#">Hunting</a></li>
                        <li><a href="#">Firearms</a></li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Contacts </a></li>
                    </ul>
                </div>
                <div class="grid_3 fright">
                    <ul class="list1">
                        <li><a href="#">google plus</a></li>
                        <li><a href="#">flickr</a></li>
                        <li><a href="#">Dribble</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Skype</a></li>
                    </ul>
                </div> 
                 <div class="grid_6 fleft">
                    <h1><a href="index.html"><img class="logo2" src="images/logo2.png" alt="" width="10%" height="10%"></a></h1>
                    <div class="copy"><span>Tactical Bushido&nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;</span>&nbsp;&nbsp;<span id="copyright-year"></span>&nbsp;&nbsp;&bull;
                    <a href="index-6.html">Privacy Policy</a> </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- coded by jimDoyle -->   
</body>
</html>